<div class="container mt-5 mb-2">
    <form class="col-lg-7">
        <div class="row">
            <h1>Contact</h1>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text"class="form-control" placeholder="Enter Your First Name">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text"class="form-control" placeholder="Enter Your Last Name">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="email" class="form-control" placeholder="Enter Your Email">
            </div>

            <div class="col-lg-12 mt-2 mb-2">
                <input type="number" class="form-control" placeholder="Enter Your Mobile">
            </div>

            <div class="col-lg-12 mt-2 mb-2">
                <button class="btn btn-md btn-dark">Submit</button>
            </div>

        </div>
    </form>
</div>
