<div class="container mt-5 mb-5">
    <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
    <div class="row">
        <ng-container *ngFor="let fd of foodData" >
        <div class="col-lg-4 col-sm-12 col-md-6" *ngIf="searchText === '' || fd.foodName.toLowerCase().includes(searchText)" >
            <div class="foodBox mt-3 mb-3">
                <img src="{{fd.foodImg}}" alt="food">
                <h1>{{fd.foodName}}</h1>
                <p>{{fd.foodDetail}}</p>
                <p>{{fd.foodPrice | currency}}</p>
                <div class="links">
                <a class="buybtn" [routerLink]="['/menu',fd.id]">Buy Now &nbsp;  <i class="bi bi-bag"></i> </a>
                <button (click)="addtoCart(fd)" class="addbtn border-0">Add to Cart&nbsp;  </button>
            </div>
            </div>
        </div>
    </ng-container>
    </div>
</div>