  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid bg-black">
      <a class="navbar-brand" routerLink="home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <img style="width: 70px; padding: top 10px;" src="../../../assets/logo.png" alt="">
      </a>
      <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pt-4 text-center" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto  mb-lg-0 justify-content-center fs-6 flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link mx-2 " routerLink="home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLink="menu" routerLinkActive="active-link">Menu</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLink="wishlist" routerLinkActive="active-link">Wishlist</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact</a>
          </li> 
        </ul>

        <div class="d-flex justify-content-center align-items-center gap-3">
          <button routerLink="cart" routerLinkActive="active-link" id="cart" class="btn btn-primary bg-transparent border-0"><i class="bi bi-bag text-light fs-2 pe-4"></i> 
          <div class="badge bg-danger">{{totalItem}}</div></button>
          <button (click)="logOut()" style="background-color: #f94ca4;" class="text-light px-3 py-2 pe-3 rounded-4">Log Out</button>
        </div>
        
      </div>
    </div>
  </nav>
