<div class="container">
    <div class="filter m-3 pe-3">
        <span>Filter:</span>
        <div class="inputs">
        <input type="radio" name="filter" value="All">
        <span>{{'All Foods('+all+')'}}</span>
    </div>

    <div class="inputs">
        <input type="radio" name="filter" value="All">
        <span>{{'On Sale('+sale+')'}}</span>
    </div>

    <div class="inputs">
        <input type="radio" name="filter" value="All">
        <span>{{'Out of Order('+outOfOrder+')'}}</span>
    </div>
        
    </div>
</div>
