<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates cum provident minus, quidem magnam dolore, modi distinctio veniam quam perspiciatis, esse itaque sit. Ullam modi quibusdam deleniti? Iusto, tempora tenetur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quis sed, beatae, fugiat eveniet nihil ratione ex neque molestiae praesentium sapiente voluptates exercitationem omnis placeat alias? Mollitia itaque optio tempora?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates laborum nemo vitae incidunt rerum iure eum sequi facilis, ut repudiandae eveniet sunt, culpa voluptas blanditiis quo hic? Sit, amet odio?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugiat fugit labore repudiandae ea odio inventore consequuntur voluptate velit unde! Voluptatem quia maxime error commodi iste quibusdam suscipit perferendis eius!

        <br> <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aut rem cum cumque nulla a aspernatur saepe tenetur tempore quis, asperiores id voluptates unde nobis aperiam assumenda consequatur magnam? Aliquid.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius corrupti temporibus obcaecati aut porro id, dolores quibusdam et libero reprehenderit nemo, unde quia quisquam doloremque dignissimos dolorum, illo distinctio suscipit.
        <br>  <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, ex voluptatum maiores illum at asperiores nulla fuga repellat, fugit quisquam tenetur id. Enim velit hic eos quibusdam dolores. Facere, commodi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quidem aliquid saepe. Aliquam, laudantium animi. Ratione autem ipsa, quia nisi deserunt delectus eius et impedit sequi assumenda libero non distinctio.
    </p>
</div>
