<div class="container-fluid p-3">
    <div class="row justify-content-around text-center text-md-start">
        <div class="col-md-2 text-center">
            <img src="../../../assets/logo.png" width="90px" alt="">
            <p class="text-white mt-4">Eat More Tasty Food...</p>
        </div>
        <div class="col-md-2">
            <ul class="list-unstyled">
                <li class="fw-bold my-2"><a class="text-decoration-none text-white" routerLink="/home">Home</a></li>
                <li class="text-white">Website</li>
                <li class="text-white">Social Media</li>
                <li class="text-white">Branding</li>
            </ul>
        </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li class="fw-bold my-2"><a class="text-decoration-none text-white" routerLink="/menu">Menu</a></li>
                    <li class="text-white">Our dishes</li>
                    <li class="text-white">ranking</li>
                    <li class="text-white">Reviews</li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li class="fw-bold my-2"><a class="text-decoration-none text-white" routerLink="/about">About</a></li>
                    <li class="text-white">Website</li>
                    <li class="text-white">Social Media</li>
                    <li class="text-white">History</li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li class="fw-bold my-2"><a class="text-decoration-none text-white" routerLink="/wishlist">Wishlist</a></li>
                    <li class="text-white">Get your food</li>
                    <li class="text-white">Post to Firebase</li>
                    <li class="text-white">Put in Firebase</li>
                    <li class="text-white">Delete in Firebase</li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li class="fw-bold my-2"><a class="text-decoration-none text-white" routerLink="/contact">Contact</a></li>
                    <li class="text-white">Support request</li>
                    <li class="text-white">Social Media</li>
                    <li class="text-white">Branding</li>
                </ul>
            </div>
        <div class="col-md-2 text-white mt-3 text-center">
            <li class="fw-bold  list-unstyled text-center ">Follow us</li>
            <ul class="list-unstyled d-flex justify-content-center justify-content-md-start gap-5 mt-3">
            <li><a href="#" class="text-white"  target="_blank"><i class="bi bi-facebook  fs-3"></i></a>   </li>
            <li><a href="#" class="text-white" target="_blank"><i class="bi bi-whatsapp   fs-3"></i></a></li>
            <li><a href="#" class="text-white" target="_blank"><i class="bi bi-instagram  fs-3"></i></a></li>
            <li><a href="#" class="text-white" target="_blank"><i class="bi bi-youtube  fs-3"></i></a></li>
        </ul>
        </div>
</div>

<div class="row">
    <div class="col-md-12 text-center pt-2">
        <hr>
        <p class="text-white ">&copy; 2023 Copyright - Adamashvili Food Website </p>
    </div>
</div>
